.wrapper {
    padding: 15px 25px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 25px;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 10px 20px;
    }
}